header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#h_column1 {
    flex-basis: 20%;
    text-align: center;

    border: 5px solid;
    border-right: 3px solid;
    background-color: slategray;
}

#h_column2 {
    flex-basis: 80%;
    text-align: center;

    border: 5px solid;
    border-left: 2px solid;
    background-color: whitesmoke;
}

#main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#m_column1 {
    flex-basis: 384px;

    border: 5px solid slategray;
    border-right: 3px solid slategray;
    background-color: slategray;
}

#m_column2 {
    flex-basis: 1461px;
    padding-left: 75px;

    border: 5px solid whitesmoke;
    border-left: 2px solid whitesmoke;
    background-color: whitesmoke;
}

h1 {
    color: darkblue;
}

/* 1920 * 1080 */