header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#h_column1 {
    flex-basis: 25%;
}

#h_column2 {
    flex-basis: 75%;
}

#main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#m_column1 {
    flex-basis: 25%;
}

#m_column2 {
    flex-basis: 75%;
}

h1 {
    color: darkblue;
}