<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/box-1100px.css">
    <link rel="stylesheet" type="text/css" href="../static/styles-1100px.css">
    <link rel="stylesheet" type="text/css" href="../static/box-700px.css">
    <link rel="stylesheet" type="text/css" href="../static/styles-700px.css">
    <link rel="stylesheet" type="text/css" href="../static/box-300px.css">
    <link rel="stylesheet" type="text/css" href="../static/styles-300px.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
    <script type="text/javascript" src="../static/to-top.js"></script>
    <script type="text/javascript" src="../static/hover.js"></script>
    <script type="text/javascript" src="../static/fr-en.js"></script>
    
    <title> CV test </title>
</head>

<body>
    <img src="../static/img/fr_en.png" alt="fr-eng.png" id="fr-en">
    
    
    <nav>
        <div lang="fr"><a href="#aboutme"><div class="circle"><img src="../static/img/aboutme.png" alt="aboutme.png"></div></a><br> A PROPOS DE MOI </div>
        <div lang="fr"><a href="#resume"><div class="circle"><img src="../static/img/resume.png" alt="resume.png"></div></a><br> CV </div>
        <div lang="fr"><a href="#works"><div class="circle"><img src="../static/img/works.png" alt="works.png"></div></a><br> PROJETS </div>
        <div lang="fr"><a href="#contact"><div class="circle"><img src="../static/img/email.png" alt="contact.png"></div></a><br> CONTACT </div>
    
        <div lang="en" class="hide"><a href="#aboutme"><div class="circle"><img src="../static/img/aboutme.png" alt="aboutme.png"></div></a><br> ABOUT ME </div>
        <div lang="en" class="hide"><a href="#resume"><div class="circle"><img src="../static/img/resume.png" alt="resume.png"></div></a><br> RESUME </div>
        <div lang="en" class="hide"><a href="#works"><div class="circle"><img src="../static/img/works.png" alt="works.png"></div></a><br> WORKS </div>
        <div lang="en" class="hide"><a href="#contact"><div class="circle"><img src="../static/img/email.png" alt="contact.png"></div></a><br> CONTACT </div>
    </nav>
    

    <main>
        <div id="pp">
            <div class="pp">
                <img src="../static/img/pp-perso.jpg" alt="photo de profil.jpg">
            </div>
            <div class="np">
                <h2> Natanaël Picot </h2>
                <h3 lang="fr"> Développeur </h3>

                <h3 lang="en" class="hide"> Developer </h3>
            </div>
        </div>


        <div id="aboutme">
            <div class="abox1">
                <div lang="fr"><span class="top"><span class="first-letter"> A</span> propos de moi </span></div>

                <div lang="en" class="hide"><span class="top"><span class="first-letter"> A</span>bout Me </span></div>
            </div>

            <div class="abox2">
                <p lang="fr">
                    Je m'appelle Natanaël Picot, j'ai 19 ans et je suis un développeur français, de Reims.
                    J'ai beaucoup d'expérience dans le web design et la contruction et customisation de site.
                </p>
                <p lang="en" class="hide">
                    My name is Natanaël Picot, I am 19 years old and I am a French developer from Reims.
                    I have rich experience in web site design and building and customization.
                </p>
            </div>

            <div class="abox3">
                <h1 lang="fr"><span class="first-letter"> M</span>es Services </h1>

                <h1 lang="en" class="hide"><span class="first-letter"> M</span>y Services </h1>
            </div>

            <div class="abox4">
                <h4 lang="fr"><img src="../static/img/dev.png" alt="development.png"><br> Développement Web </h4>
                <p lang="fr">
                    Site Web moderne et prêt pour le mobile qui vous aidera à atteindre l'ensemble de votre marketing.
                </p>

                <h4 lang="en" class="hide"><img src="../static/img/dev.png" alt="development.png"><br> Web Development </h4>
                <p lang="en" class="hide">
                    Modern and mobile-ready website that will help you reach all of your marketing.
                </p>
            </div>
            <div class="abox5">
                <h4 lang="fr"><img src="../static/img/dev.png" alt="dev.png"><br> Développement Back-end </h4>
                <p lang="fr">
                    Développer le back-end
                </p>

                <h4 lang="en" class="hide"><img src="../static/img/dev.png" alt="dev.png"><br> Back-end Development </h4>
                <p lang="en" class="hide">
                    Back-end Development
                </p>
            </div>
        </div>


        <div id="resume">
            <div class="rbox1">
                <div lang="fr"><span lang="fr" class="top"><span class="first-letter"> C</span>V </span></div>

                <div lang="en" class="hide"><span class="top"><span class="first-letter"> R</span>esume </span></div>
            </div>

            <div class="rbox2">
                <h4><img src="../static/img/briefcase.png" alt="briefcase.png"><br> Experience </h4>
            </div>
            <div class="rbox3">
                <h4 lang="fr"><img src="../static/img/university.png" alt="university.png"><br> Education </h4>

                <h4 lang="en" class="hide"><img src="../static/img/university.png" alt="university.png"><br> Education </h4>
            </div>
            <div class="rbox4">
                <p lang="fr">
                    <span class="date"> 10/07/2023 - 28/07/2023 </span><br>
                    <strong> IT </strong><br>
                    <span class="lieu"> TCP Transport et Logistique N°1, Saint-André-les-Vergers </span><br><br>
                    Travail de 3 semaines suite au stage de 5 semaines
                </p>
                
                <p lang="en" class="hide">
                    <!-- a traduire
                        <span class="date"> 10/07/2023 - 28/07/2023 </span><br>
                        <strong> IT </strong><br>
                        <span class="lieu"> TCP Transport et Logistique N°1, Saint-André-les-Vergers </span><br><br>
                        Travail de 3 semaines suite au stage de 5 semaines
                    -->
                </p>
            </div>
            <div class="rbox5">
                <p lang="fr">
                    <span class="date"> 2022 - 2024 <br></span>
                    <strong> BTS: Service Informatique aux Organisations </strong><br>
                    <span class="lieu"> Lycée polyvalent Franklin Roosevelt, Reims </span><br><br>
                    <span class="u"> Option SLAM:</span> Solutions logicielles et Applications Métier <br><br>
                    <span class="u"> Stage de 1er année:</span> TCP Transport et Logistique N°1
                </p>

                <p lang="en" class="hide">
                    <!--
                        <span class="date"> 2022 - 2024 <br></span>
                        <strong> BTS: Service Informatique aux Organisations </strong><br>
                        <span class="lieu"> Lycée polyvalent Franklin Roosevelt, Reims </span><br><br>
                        <span class="u"> Option SLAM:</span> Solutions logicielles et Applications Métier <br><br>
                        <span class="u"> Stage de 1er année:</span> TCP Transport et Logistique N°1
                    -->
                </p>
            </div>
            <div class="rbox6">
                <p lang="fr">
                    <span class="date"> 2021 - 2022 <br></span>
                    <strong> Vendangeurs </strong><br>
                    <span class="lieu"> Champagne Bigard, Montgueux </span><br><br>
                    Travail de 10 jours avant la reprise des cours
                </p>

                <p lang="en" class="hide">
                    <!-- a traduire 
                        <span class="date"> 2021 - 2022 <br></span>
                        <strong> Vendangeurs </strong><br>
                        <span class="lieu"> Champagne Bigard, Montgueux </span><br><br>
                        Travail de 10 jours avant la reprise des cours
                    -->
                </p>
            </div>
            
            <div class="rbox7">
                <p lang="fr">
                    <span class="date"> 2019 - 2022 <br></span>
                    <strong> Baccalauréat général </strong><br>
                    <span class="lieu"> Lycées Général et Technologique & Professionnel Marie de Champagne, Troyes </span><br><br>
                    <span class="u"> Spécialités:</span> Mathématiques / Physiques Chimie / Langues, Littératures et Cultures Etrangères (abandonnée en fin de 1er)
                </p>

                <p lang="en" class="hide">
                    <!-- a traduire 
                        <span class="date"> 2019 - 2022 <br></span>
                        <strong> Baccalauréat général </strong><br>
                        <span class="lieu"> Lycées Général et Technologique & Professionnel Marie de Champagne, Troyes </span><br><br>
                        <span class="u"> Spécialités:</span> Mathématiques / Physiques Chimie / Langues, Littératures et Cultures Etrangères (abandonnée en fin de 1er)
                    -->
                </p>
            </div>
            <div class="rbox8">
                <p lang="fr">
                    <span class="date"> 2020 - 2023 <br></span>
                    <strong> Caissier </strong><br>
                    <span class="lieu"> RELAY, Troyes </span><br><br>
                    2 mois complet en remplaçement pendant les vacances scolaire
                </p>

                <p lang="en" class="hide">
                    <!-- a traduire 
                        <span class="date"> 2020 - 2023 <br></span>
                        <strong> Caissier </strong><br>
                        <span class="lieu"> RELAY, Troyes </span><br><br>
                        2 mois complet en remplaçement pendant les vacances scolaire
                    -->
                </p>
            </div>

            <div class="rbox9">
                <p lang="fr">
                    <span class="date"> 2015 - 2019 <br></span>
                    <strong> Brevet des collèges </strong><br>
                    <span class="lieu"> Collège Pierre Brossolette, La Chapelle-Saint-Luc </span><br><br>
                    <span class="u"> Stage d'observation de 3ème:</span> TOULOKOWITZ SARL <br>
                    Société de Bureautique Informatique, de Téléphonie et d'Imprimerie
                </p>

                <p lang="en" class="hide">
                    <!-- a traduire 
                        <span class="date"> 2015 - 2019 <br></span>
                        <strong> Brevet des collèges </strong><br>
                        <span class="lieu"> Collège Pierre Brossolette, La Chapelle-Saint-Luc </span><br><br>
                        <span class="u"> Stage d'observation de 3ème:</span> TOULOKOWITZ SARL <br>
                        Société de Bureautique Informatique, de Téléphonie et d'Imprimerie
                    -->
                </p>
            </div>

            <div class="rbox10">
                <h1 lang="fr"><span class="first-letter"> M</span>es Compétences </h1>

                <h1 lang="en" class="hide"><span class="first-letter"> M</span>y Skills </h1>
            </div>

            <div class="rbox11">
                <h4 lang="fr"><img src="../static/img/dev.png" alt="coding.png"><br> Langages de Programmation </h4>

                <h4 lang="en" class="hide"><img src="../static/img/dev.png" alt="coding.png"><br> Coding </h4>
            </div>
            <div class="rbox12">
                <h4 lang="fr"><img src="../static/img/resume.png" alt="resume.png"><br> Connaissances </h4>

                <h4 lang="en" class="hide"><img src="../static/img/resume.png" alt="resume.png"><br> Knowledge </h4>
            </div>
            <div class="rbox13">
                <ul>
                    <li>
                        HTML / CSS
                        <div class="progress">
                            <div class="percent" style="width: 85%;"></div>
                        </div>
                    </li>
                    <li>
                        PHP
                        <div class="progress">
                            <div class="percent" style="width: 90%;"></div>
                        </div>
                    </li>
                    <li>
                        PostgreSQL
                        <div class="progress">
                            <div class="percent" style="width: 60%;"></div>
                        </div>
                    </li>
                    <li>
                        JavaScript
                        <div class="progress">
                            <div class="percent" style="width: 20%;"></div>
                        </div>
                    </li>
                    <li>
                        Python / Flask
                        <div class="progress">
                            <div class="percent" style="width: 30%;"></div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="rbox14">
                <ul lang="fr">
                    <li> Français </li>
                    <li> Anglais </li>
                    <li> Utilisation de GIT & GIT HUB </li>
                    <li> Utilisation de Visual Studio Code </li>
                    <li> Utilisation de Word et Excel </li>
                </ul>

                <ul lang="en" class="hide">
                    <li> French </li>
                    <li> English </li>
                    <li> Use of GIT & GIT HUB </li>
                    <li> Use of Visual Studio Code </li>
                    <li> Use of Word & Excel </li>
                </ul>
            </div>
            <div class="rbox15">
                <h4 lang="fr"><img src="../static/img/check.png" alt="check.png"><br> Compétences & Qualitées acquises </h4>

                <h4 lang="en" class="hide"><img src="../static/img/check.png" alt="check.png"><br> Skills & Qualities Acquired </h4>
            </div>
            <div class="rbox16">
                <ul lang="fr">
                    <li> Connaissances sur la vie au sein d'une entreprise </li>
                    <li> Intégration dans une équipe </li>
                    <li> Travailler en équipe </li>
                    <li> Caisse et Service Client </li>
                    <li> Ménage et réaprovisionnement marchandises </li>
                    <li> Inventaires </li>
                    <li> Persévérance et assiduité </li>
                </ul>
                <ul lang="en" class="hide">
                    <!--
                        <li> Connaissances sur la vie au sein d'une entreprise </li>
                        <li> Intégration dans une équipe </li>
                        <li> Travailler en équipe </li>
                        <li> Caisse et Service Client </li>
                        <li> Ménage et réaprovisionnement marchandises </li>
                        <li> Inventaires </li>
                        <li> Persévérance et assiduité </li>
                    -->
                </ul>
            </div>
        </div>


        <div id="works">
            <div class="wbox1">
                <div lang="fr"><span class="top"><span class="first-letter"> P</span>rojets Réalisées </span></div>

                <div lang="en" class="hide"><span class="top"><span class="first-letter"> W</span>orks </span></div>
            </div>
            <div class="wbox2">
                
            </div>
        </div>


        <div id="contact">
            <div class="cbox1">
                <span class="top"><span class="first-letter"> C</span>ontact </span>
            </div>

            <div class="cbox2">
                <ul lang="fr">
                    <li><strong> Adresse. . . . . </strong><br> 9 Bis Rue Hugues de Payns, France </li>
                    <li><strong> Email . . . . . </strong><br> Picot.Natanael@orange.com </li>
                    <li><strong> Téléphone . . . . . </strong><br> 06 23 23 50 90 </li>
                </ul>
                <ul lang="en" class="hide">
                    <li><strong> Address. . . . . </strong><br> 9 Bis Rue Hugues de Payns, France </li>
                    <li><strong> Email . . . . . </strong><br> Picot.Natanael@orange.com </li>
                    <li><strong> Phone . . . . . </strong><br> 06 23 23 50 90 </li>
                </ul>
            </div>
        </div>
    </main>

    <div id="scrollUp">
        <a href="#top"><img src="../static/img/to_top.png" /></a>
    </div>
</body>
</html>