<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/CV_test_css/styles.css">
    
    <title> CV test </title>
</head>
<body>
    <div id="main">
        <nav>
            <a href="CV_test.html"><img href="../static/CV_test_css/pp.jpg"> ABOUT </a>
            <a href="myCV.html"><img href=""> RESUME </a>
            <a href="works.html"><img href=""> WORKS </a>
            <a href="blog.html"><img href=""> BLOG </a>
            <a href="contact.html"><img href=""> CONTACT </a>
        </nav>
        <div id="pp">
            <img href="">
            <h1>Ryan Adlard</h1>
            <h3>Web Designer</h3>
        </div>
        <div id="aboutme">
            <h1> About me </h1>
            <p>
                Je suis Natanaël Picot, web designer. Je n'ai pas beaucoup d'expérience en website design.
            </p>

            Age..... 19
            Résidence...... Troyes
            Freelance...... Non-Disponible
            Adresse... Troyes

            Mes Services
            Web Development
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
    </div>
</body>
</html>