<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/CV_test_css/styles.css">
    
    <title> CV test </title>
</head>
<body>
    <div class="wrapper">
        <nav>
            <a href="CV_test.html"><img href="../static/CV_test_css/pp.jpg"> ABOUT </a>
            <a href="myCV.html"><img href=""> RESUME </a>
            <a href="works.html"><img href=""> WORKS </a>
            <a href="blog.html"><img href=""> BLOG </a>
            <a href="contact.html"><img href=""> CONTACT </a>
        </nav>
        <div class="pp">
            <img href="">
            <h1> Ryan Adlard </h1>
            <h3> Web Designer </h3>
        </div>
        <div class="aboutme">
            <div class="box1">
                <h1> About Me </h1>
            </div>

            <div class="box2">
                <p>
                    I am Ryan Adlard, web designer from USA, California. I have rich experience in web site design and building and
                    customization, also I am good at wordpress. I love to talk with you about our unique.
                </p>
            </div>
            <div class="box3">
                <p>
                    Age . . . . .24
                    Residence . . . . .USA
                    Freelance . . . . .Available
                    Address . . . . .California, USA
                </p>
            </div>

            <div class="box4">
                <h1> My Services </h1>
            </div>

            <div class="box5">
                <p>
                    Web Development
                    Modern and mobile-ready website that will help you reach all of your marketing.
                </p>
            </div>
            <div class="box6">
                <p>
                    Music Writing
                    Music copying, writing, creating, transcription, arranging and composition services.
                </p>
            </div>

            <div class="box7">
                <p>
                    Advetising
                    Advertising services include television, radio, print, mail, and web apps.   
                </p>
            </div>
            <div class="box8">
                <p>
                    Game Development
                    Developing memorable and unique mobile android, ios and video games.  
                </p>
           </div>
        </div>
    </div>
</body>
</html>