<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/CV_test_css/styles.css">
    
    <title> CV test </title>
</head>
<body>
    <div class="wrapper">
        <nav>
            <a href=".aboutme"><img href=""> ABOUT ME</a>
            <a href="myCV.html"><img href=""> RESUME </a>
            <a href="works.html"><img href=""> WORKS </a>
            <a href="blog.html"><img href=""> BLOG </a>
            <a href="contact"><img href=""> CONTACT </a>
        </nav>
        <div class="pp">
            <img href="">
            <h2> Ryan Adlard </h2>
            <h3> Web Designer </h3>            
        </div>
        <div class="aboutme">
            <div class="box1">
                <h1><span class="first-word"> About</span> Me </h1>
            </div>

            <div class="box2">
                <p>
                    I am Ryan Adlard, web designer from USA, California. I have rich experience in web site design and building and
                    customization, also I am good at wordpress. I love to talk with you about our unique.
                </p>
            </div>
            <div class="box3">
                <ul>
                    <li><strong> Age . . . . . </strong> 24 </li>
                    <li><strong> Residence . . . . . </strong> USA </li>
                    <li><strong> Freelance . . . . . </strong> Available </li>
                    <li><strong> Address . . . . . </strong> California, USA </li>
                </ul>
            </div>

            <div class="box4">
                <h1><span class="first-word"> My</span> Services </h1>
            </div>

            <div class="box5">
                <h4> Web Development </h4>
                <p>
                    Modern and mobile-ready website that will help you reach all of your marketing.
                </p>
            </div>
            <div class="box6">
                <h4> Music Writing </h4>
                <p>
                    Music copying, writing, creating, transcription, arranging and composition services.
                </p>
            </div>

            <div class="box7">
                <h4> Advetising </h4>
                <p>
                    Advertising services include television, radio, print, mail, and web apps.   
                </p>
            </div>
            <div class="box8">
                <h4> Game Development </h4>
                <p>   
                    Developing memorable and unique mobile android, ios and video games.  
                </p>
            </div>

            <div class="box9">
                <h1><span class="first-letter"> P</span>ricing </h1>
            </div>

            <div class="box10">                
                <h4> Basic </h4>
                <p>
                    $ 22 hour <br>
                    Web Development <br>
                    Advetising <br>
                    Game Development <br>
                    Music Writing <br>
                    Photography new
                </p>
            </div>
            <div class="box11">
                <h4> Pro </h4>
                <p>
                    $ 48 hour <br>
                    Web Development <br>
                    Advetising <br>
                    Game Development <br>
                    Music Writing <br>
                    Photography new
                </p>
            </div>
        </div>
    </div>
</body>
</html>