<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Projet Flask: CV </title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body>
    <h1> CV de Natanaël PICOT </h1>
    <h2> ABOUT ME </h2>

    <p> 
        Je suis en 1er année de BTS SIO et je fais mon stage au service informatique de TCP !
    </p>
</body>
</html>