<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="../static/styles-motiv.css">

    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script type="text/javascript" src="../static/hover.js"></script>
    <script type="text/javascript" src="../static/fr-en.js"></script>
    <script type="text/javascript" src="../static/animation_motiv.js"></script>

    <title lang="fr"> Lettre de Motivation </title>
</head>
<body>
    <a href="{{ url_for('hello') }}" lang="fr"><div class="circle2"><img src="../static/img/resume_white.png" alt="resume.png"><br> CV </div></a>

    <a href="{{ url_for('hello') }}" lang="en" class="hide"><div class="circle2"><img src="../static/img/resume_white.png" alt="resume.png"><br> RESUME </div></a>

    <main>
        <img src="../static/img/fr_en.png" alt="fr-eng.png" id="fr-en"><br>

        Picot Natanaël <br>
        9 Bis Rue Hugues de Payns <br>
        10600 Payns <br>
        06 23 23 50 90 <br>
        Picot.Natanael@orange.fr <br><br>

        <div lang="fr">
            <p>
                Objet: Demande de stage, développeur informatique du 8 janvier au 9 février 2024 pour BTS SIO <br><br>

                Madame, Monsieur, <br><br>

                Actuellement étudiant en BTS SIO en 2ème année à Reims spécialisé en développement logiciels, <br>
                je souhaiterais faire mon stage dans votre entreprise. <br><br>

                Comme indiqué dans mon CV, dans le cadre de ma formation j’ai acquis des compétences <br>
                en développement web (HTML, CSS, JavaScript, PHP, ajax) et en développement objet (C++). <br>
                Ainsi que des connaissances et compétences en base de données relationnelles (Postgrsql). <br>
                De mon côté, j'ai également appris à utiliser Python, Flask et JQuery. <br>
                Je suis aussi capable de travailler sur des projets informatiques en équipe avec la méthode Agile. <br><br>

                Mes expériences professionnelles et personnelles ont démontré mes capacités à travailler en équipe et en autonomie, <br>
                ainsi que ma persévérance et curiosité. <br>
                Ce serait avec plaisir que je vous présenter mon profil et mon projet de stage lors d’un entretien. <br><br>

                Je vous prie d’agréer, Madame, Monsieur, l'expression de mes sincères salutations. <br><br>
            </p>
        </div>
        <div lang="en" class="hide">
            <p>
                Subject: Internship request, IT developer from January 8 to February 9, 2024 for BTS SIO <br><br>

                Dear, <br><br>

                Currently studying in my 2nd year of BTS SIO in Reims specialized in software development, <br>
                I would like to do my internship in your company. <br><br>

                As indicated in my Resume, as part of my training I acquired skills <br>
                in web development (HTML, CSS, JavaScript, PHP, ajax) and in object development (C++). <br>
                As well as knowledge and skills in relational database (Postgrsql). <br>
                On my side, I also learned to use Python, Flask and JQuery. <br>
                I am also able to work on IT projects in a team with the Agile method. <br><br>

                My professional and personal experiences have demonstrated my ability to work in a team and independently, <br>
                as well as my perseverance and curiosity. <br>
                It would be a pleasure for me to present my profile and my internship project to you during an interview. <br><br>

                Please accept, Madam, Sir, the expression of my sincere greetings. <br><br>
            </p>
        </div>
        
        <img src="../static/img/signature.PNG" alt="signature">
    </main>
</body>
</html>