<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/test.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
    <script type="text/javascript" src="../static/test.js"></script>
    <title> TEST </title>
</head>
<body>
    <main>
        <div class="a">
            
        </div>
        <div class="b">
            
        </div>
        <div class="c">

        </div>
    </main>
    <img src="../static/img/fr_en.png" alt="fr-eng.png" id="fr-en">
</body>
</html>