.wrapper {
    margin: 70px;
    padding: 50px;

    display: grid;
    grid-template-columns: 1.35fr 0.65fr 2fr;
    grid-template-rows: 840px 1080px 600px;

    background-color: white;
    border-radius: 10%;
}

nav {
    height: 100px;

    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    text-align: center;

    background-color: transparent;
}

#pp {
    grid-column: 1;
    display: grid;
    grid-template-rows: 1fr 1fr;

    border-right: 1px solid;
}

#aboutme {
    grid-column: 2 /4;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 70px 150px 70px repeat(2, 150px) 70px 170px;
}


#resume {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 56px 56px repeat(3, 126px) 62px 56px 150px 56px 240px;

    border-top: 1px solid;
    border-right: 1px solid;
}

.rbox14 {
    padding-top: 4px;
}

#works {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 56px 910px;

    border-top: 1px solid;
}

.wbox2 {
    text-align: center;
    
    padding-top: 26px;
}

.wbox3 {
    text-align: center;

    padding-top: 26px;
}

#blog {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 56px 500px;

    border-top: 1px solid;
    border-right: 1px solid;
}

.bbox2 {
    text-align: center;
    padding-top: 10%;
}

.bbox3 {
    text-align: center;
    padding-top: 10%;
}

#contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 56px 300px;
    border-top: 1px solid;
}

#resume, #blog, .abox1, .abox4 , .abox9 , .rbox1, .rbox10, .wbox1, .bbox1, .cbox1, .cbox2 {
    grid-column: 1 / 3;
}