html, body {
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 1%;
    margin-bottom: 0;
    padding: 1% 4%;

    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

h2 {
    text-align: center;

    font-size: 50px;
}

h3 {
    text-align: center;

    font-size: 25px;
}

h4 {
    text-align: center;

    margin: 0;
    padding-top: 2%;
    padding-bottom: 1%;

    border-bottom: 1px solid lightgrey;
}

p.a {
    text-align: center;

    margin: 0;
    padding: 3% 4%;
}

p.r {
    margin: 0;
    padding: 5% 4%;
}

span.top {
    display: block;
    font-size: 2em;
    font-weight: bold;

    padding: 1% 4%;
    border-bottom: 1px solid lightgrey;
}

span.h4_modif {
    display: block;
    font-weight: bold;

    text-align: center;

    padding-top: 1%;
    padding-bottom: 1%;

    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

span.first-word {
    color: #4bf734;
}

span.first-letter {
    color: #4bf734;
}

ul {
    list-style: none;

    padding-inline-start: 20px;
}

li {
    line-height: 26px;
}

strong {
    color: white;
    background-color: #4bf734;
}

.progress {
    width: 94%;
    height: 4px;
    background-color: lightgrey;
}

.percent {
    height: 4px;
    background-color: #4bf734;
}

a {
    color: black;
}

nav img {
    width: 50px;
    height: 50px;
}

img {
    width: 40px;
    height: 40px;
}

#works img {
    width: 300px;
    height: 200px;
}

#pblog {
    width: 200px;
    height: 100px;
}

#name {
    margin: 20px;
    padding: 2%;
}

#email {
    margin: 20px;
    margin-left: 10px;
    padding: 2%;
}

#message {
    margin: 20px;
    margin-top: 10px;
    padding: 2%;
    padding-right: 28%;
}

#send {
    margin-left: 20px;
    padding: 2%;
}

.cbox2 iframe {
    padding: 2%;
}

#scrollUp {
    position: fixed;
    bottom: 10px;
    right: -100px;
    opacity: 0.5;
}