body {
    background: linear-gradient(to bottom right, #50a3a2, #78cc6d);
}

h1 {
    margin-top: 1%;
    margin-bottom: 0;
    padding: 1% 4%;

    border-top: 1px solid lightgrey;
}

h2 {
    text-align: center;

    font-size: 50px;
}

h3 {
    text-align: center;

    font-size: 25px;
}

h4 {
    text-align: center;

    margin: 0;
    padding-top: 2%;
    padding-bottom: 1%;
}

a {
    color: black;
}

p.a {
    text-align: center;

    margin: 0;
    padding: 3% 4%;
}

p.r {
    margin: 0;
    padding: 5% 4%;
}

span.top {
    display: block;
    font-size: 2em;
    font-weight: bold;

    padding: 1% 4%;
}

span.h4_modif {
    display: block;
    font-weight: bold;

    text-align: center;

    padding-top: 1%;
    padding-bottom: 1%;

    border-top: 1px solid lightgrey;
}

span.first-letter {
    color: #78cc6d;
}

ul {
    list-style: none;

    padding-inline-start: 20px;
}

li {
    line-height: 26px;
}

strong {
    float: left;
    color: white;
    background-color: #78cc6d;
}

.progress {
    width: 94%;
    height: 4px;
    background-color: lightgrey;
}

.percent {
    height: 4px;
    background-color: #78cc6d;
}

nav img {
    width: 50px;
    height: 50px;

    margin-top: 15px;
}

img {
    width: 40px;
    height: 40px;
}

#works img {
    width: 300px;
    height: 200px;
}

#pblog {
    width: 200px;
    height: 100px;
}

#name {
    margin: 20px;
    padding: 2%;
}

#email {
    margin: 20px;
    margin-left: 10px;
    padding: 2%;
}

#message {
    margin: 20px;
    margin-top: 10px;
    padding: 2%;
    padding-right: 28%;
}

#send {
    margin-left: 20px;
    padding: 2%;
}

.cbox2 iframe {
    padding: 2%;
}

#scrollUp {
    position: fixed;
    bottom: 10px;
    right: -100px;
    opacity: 0.5;
}

.circle {
    display: block;
    height: 80px;
    width: 80px;

    margin-left: 39%;

    background-color: #dddddd;
    border-radius: 100%;
}

.abox2, .abox5, .abox7, .abox10, .rbox2, .rbox4, .rbox6, .rbox8, .rbox11, .rbox13 , .rbox15 , .rbox17, .wbox2, .bbox2 {
    border-right: 1px solid lightgrey;
}

.abox4, .abox5, .abox6, .abox9, .rbox4, .rbox5, .rbox6, .rbox7, .rbox10, span.top, h4, span.h4_modif {
    border-bottom: 1px solid lightgrey;
}

h1, h2, h3, h4, a, p.a, p.r, span.top, span.h4_modif, li {
    font-family: "Arial";
}