body {
    background: linear-gradient(to bottom right, #50a3a2, #78cc6d);
}

.pp {
    position: absolute;
    background-color: white;
    width: 500px;
    height: 500px;
    margin-top: 5%;
    margin-left: 5%;
    box-shadow: rgba(0, 0, 0, 0.2) 20 px -20px 30px;
}

.np {
    position: absolute;
    background-color: white;
    width: 500px;
    height: 500px;
    margin-top: 5%;
    margin-left: 50%;
    box-shadow: 10px 0px black;
}