.np {
    position: absolute;
    background-color: black;
    width: 500px;
    height: 500px;
    margin-top: 5%;
    margin-left: 50%;
}

.np:before {
    content: '';
    position: absolute;

    bottom: -10%;
    left: -40%;
    width: 100%;
    height: 20%;
    background: white;
    transform: rotate(12deg);
}

.np::after {
    content: '';
    position: absolute;

    bottom: -10%;
    right: -40%;
    width: 100%;
    height: 20%;
    background: white;
    transform: rotate(-12deg);
}